/* Define colors and border-radius */
:root {
	--border-color: #31565b; /* Border color */
	--background-color: #266dd3; /* Background color */
	--list-background-color: #8cd5df; /* Background color for list items */
	--active-list-background-color: #aae46c; /* Background color for active list item */
	--border-radius: 5px; /* Border radius */
}
table{
	/* display: table-header-group; */
	vertical-align: middle;
	text-align: center;
}

/* Pagination container */
.pagination-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Unordered list for pagination items */
.pagination {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.pagination li {
	color: #fff;
	display: flex;
}

.pagination li a {
	background-color: var(--list-background-color);
	padding: 5px 10px;
	border: 2px solid var(--border-color);
	border-right: 0;
	text-decoration: none;
	display: block;
	transition: background-color 0.3s, border-color 0.3s;
}

.pagination li a:hover {
	background-color: var(--hover-background-color);
	border-color: var(--hover-background-color);
}

.pagination li.active a {
	background-color: var(--active-list-background-color);
}

.pagination li:first-child a {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.pagination li:last-child a {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	border-right: 2px solid var(--border-color);
}

.warn {
	padding: 7px;
	color: white;
	font-weight: 600;
	font-size: 15px;
	display: grid;
	border-radius: 10px;
	align-items: center;
	cursor: pointer;
}
.err {
	background-color: rgb(255, 0, 0);
}
.succ {
	background-color: rgb(0, 255, 0);
	text-align: center;
}
#dropdownMenuButton1 {
	background-color: aqua;
	font-weight: 900;
}
.null-result-container{
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.null-result{
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}
.Requested, .Finished, .In-Used, .Rejected, .Stored{
	margin :0;
}
.Requested{
	color: rgb(132, 141, 0);
	background-color: rgba(255, 251, 30, 0.151);
	border-radius: 1em;
	/* padding: 1px; */
}
.Finished, .Stored{
	color: rgb(30, 255, 0);
	background-color: rgba(68, 255, 30, 0.151);
	border-radius: 1em;
	/* padding: 1px; */
}
.Rejected{
	color: rgb(231, 0, 0);
	background-color: rgba(255, 30, 30, 0.151);
	border-radius: 1em;
	/* padding: 1px; */
}
.In-Used{
	color: rgb(4, 0, 255);
	background-color: rgba(30, 248, 255, 0.103);
	border-radius: 1em;
	/* padding: 2px; */
}

